body {
    font-family: "DM Mono", sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

button {
    font-family: "DM Mono", sans-serif;
}

.header-title {
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
}

.control-color,
.control-grid {
    display: flex;
    flex-direction: column;
}

.control-color {
    margin-top: 5px;
    margin-bottom: 20px;
}

#color-changer {
    align-self: center;
    margin-top: 5px;
}

.control-grid {
    align-items: center;
}

.control-paint {
    display: flex;
    flex-direction: column;
}

.control-erase {
    display: flex;
    flex-direction: column;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 5px;
    background: #484848;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.brush-btn,
.rainbow-btn,
.shader-btn,
.erase-btn,
.clear-grid-btn {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 18px;
    color: #484848;
    border: 4px solid #484848;
    border-radius: 5px;
    background-color: transparent;
}

.grid-container {
	border: 3px solid #000000;
	background: #FFF;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 0.5px;
	width: 750px;
	height: 750px;
	margin: auto;
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: white;
    border: 0.5px solid black;
}

.grid-border {
	border: 0.5px solid #000000;
}

#grid-slider {
    margin-left: auto;
}

.footer {
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    border-top: 4px solid #484848;
    padding-top: 5px;
}